<!DOCTYPE html>
<html lang="en">

<head>
    <title>VUDRM Offline DEMO App</title>
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div id="content-container" class="row flex-row flex-nowrap"></div>
    </div>
    <script src="../../vendor/jquery/jquery-min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../vendor/shaka/shaka-player.js"></script>
    <script>
        const { remote, ipcRenderer } = require('electron');
        const mainProcess = remote.require('./main.js');

        let shakaPlayer, videoElement, mediaContent;

        let createCard = () => {
            let columnDiv = document.createElement('div');
            columnDiv.classList.add('col-4');
            let card = document.createElement('div');
            card.classList.add('card');
            card.style = 'width: 18rem;'
            return card;
        }

        let createCardPoster = (parent, imagePath) => {
            let poster = new Image();
            poster.src = imagePath;
            poster.width = '250';
            poster.classList.add('card-img-top');
            poster.onload = () => {
                parent.insertBefore(poster, parent.firstChild);
            };
        }

        let createHeader = (parent, title) => {
            let header = document.createElement('h5');
            header.classList.add('card-title');
            header.innerText = title;
            parent.appendChild(header);
        }

        let createCardDescription = (parent, text) => {
            let description = document.createElement('p');
            description.classList.add('card-text');
            description.innerText = text;
            parent.appendChild(description);
        }

        createCardButtons = (parent, stream) => {
            let anchor = document.createElement('a');
            anchor.href = '#';
            anchor.classList.add('btn', 'btn-success');
            anchor.innerText = 'Download';
            anchor.dataset.stream = stream;
            anchor.addEventListener('click', (event) => {
                ipcRenderer.send('download-requested', { event, stream: event.target.dataset.stream });
                ipcRenderer.on('download-progress', (progress) => {
                    console.log(progress);
                })
            })
            parent.appendChild(anchor);
        }
        let createCardBody = (parent, title, text, stream) => {
            let cardBody = document.createElement('div');
            cardBody.classList.add('card-body');
            createHeader(cardBody, title);
            createCardDescription(cardBody, text);
            createCardButtons(cardBody, stream);
            parent.appendChild(cardBody);
        }

        let createContentSection = (content) => {
            let containerDiv = document.getElementById('content-container');
            content.forEach(c => {
                let columnDiv = document.createElement('div');
                columnDiv.classList.add('col-4');

                let card = createCard();
                createCardPoster(card, c.poster)
                createCardBody(card, c.title, c.description, c.url);
                columnDiv.appendChild(card);
                containerDiv.appendChild(columnDiv);
            });
        }

        (() => {
            createContentSection(mainProcess.getMediaContent());
        })();



        let loadPlayerHandler = (e) => {
            let clickedButton = e.target;
            let input = clickedButton.parentNode.parentNode.firstChild;
            let stream = input.value;
            videoElement = document.getElementById("video-container")
            shaka.polyfill.installAll();
            shakaPlayer = new shaka.Player(document.getElementById("video-container"));
            shakaPlayer.addEventListener("error", onErrorEvent);
            shakaPlayer.load(stream).then(() => {
                console.log('shaka has loaded');
                videoElement.play();
            }).catch((e) => {
                console.error(e.detail);
            });
        }

        let onErrorEvent = (err) => {
            console.error("Error code", err.detail.code, "object", err.detail);
        }
    </script>
</body>

</html>