<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../vendor/shaka/shaka-player.js"></script>
</head>

<body></body>
<video id="video" width="640" controls autoplay></video>
</body>
<script>
    const { remote, ipcRenderer } = require('electron');
    const mainProcess = remote.require('./main.js');
    var stream;
    (() => {
        stream = mainProcess.getCurrentStream();
        var player = new shaka.Player(document.getElementById('video'));
        player.load(stream);
    })();
</script>

</html>